.communityBlock-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.322);
  background-color: #fff7d4;
  width: 400px;
  height: 60px;

}

.communityBlock-img {
  width: 100px;
  height: 60px;

}

.title {
  width: 200px;
  height: 60px;

  margin-left: 50px;
}
