.base-request-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 3vh;
  background-color: #E5CD7B;
  border-radius: 1em;
  cursor: pointer;
  font-size: 16px;
}
.cip-title {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  padding-bottom: 1vh;
  border-bottom: 1px solid black;
  font-family: 'omyu_pretty';
  font-weight: lighter;
  font-size: 25px;
}
.cip-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(80vh - 100px);
  gap: 2vw;

}
.cip-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5em;
}
.customer-list-box{
  font-family: 'omyu_pretty';
  font-weight: lighter;
  margin-right:  24em;
  font-size: 30px;
  padding-bottom: 15px;
}