.view-container {
  width: 60vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  border: 2px solid #E5CD7B;
  align-items: center;
  margin-left: 8vw;
  margin-top: 6vh;
  border-radius: 10px;
}
.view-title {
  display: flex;
  justify-content: flex-start;
  width: 740px;
  margin-left: 40px;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  font-size: 40px;
  
}
.view-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 500px;
  
  border-radius: 50px;

}
.view-name-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 100px;
  margin-left: 10px;
  border-bottom: 2px solid #E5CD7B;
}
.view-info {
  display: flex;
  flex-direction: column;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  margin-left: 15px;
}
.view-person {
  display: flex;
  align-items: center;
}
.view-comment-set {
  display: flex;
  align-items: center;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  width: 47vw;
}
.view-content {
  height: 420px;
  width: 700px;
  border-bottom: 1px solid #E5CD7B;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  margin-bottom: 15px;
}
.view-comment-write {
  background-color: white;
  width: 80px;
  height: 30px;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  border: 2px solid #E5CD7B;
  
}
.view-comment-top {
  display: flex;
  justify-content: space-between;
  width: 700px;
  font-family: 'omyu_pretty';
  font-weight:lighter;
}
.view-comment-content {
  width: 700px;
  height: 60px;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  border-bottom: 1px solid #E5CD7B;
  margin-bottom: 7px;
}
.view-button-style {
  background-color: white;
  width: 80px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  border: 2px solid #E5CD7B;
}
.view-button-container {
  display: flex;
  justify-content: space-between;
}
.correction-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 700px;
  height: 80px;
  border-top: 1px solid black;
  margin-top: 10px;
}
.correction-content {
  width: 700px;
  height: 300px;
  overflow: scroll;
}
.trade-button-box {
  display: flex;
  align-items: center;
}
.trade-button-box {
  display: flex;
  align-items: center;
}
.view-button-style1{
  background-color: white;
  width: 50px;
  height: 30px;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  border: 2px solid #E5CD7B;
  border-right: 0px;
}
.view-button-style2{
  background-color: white;
  width: 50px;
  height: 30px;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  border: 2px solid #E5CD7B;
  border-right: 0px;
}
.view-button-style3{
  background-color: white;
  width: 50px;
  height: 30px;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  border: 2px solid #E5CD7B;  
}

.view-button-style4{
  background-color: white;
  width: 50px;
  height: 30px;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  border: 2px solid #E5CD7B;  
  border-right: 0px;
}

.view-button-style5{
  background-color: white;
  width: 50px;
  height: 30px;
  font-family: 'omyu_pretty';
  font-weight:lighter;
  border: 2px solid #E5CD7B;  
}