.pre-container {
  width: 400px;
  height: 250px;
  background-color: #D9D9D9;
}
.pre-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pre-sec-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pre-sec-trade {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.pre-sec-more {
  margin-right: 10px;
  cursor: pointer;
}