.request-box-container {
  width: 28vw;
  height: 15vh;
  border: 1px solid #ffa800;
  background-color: #ffdb92;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  margin-top: 2vh;
}
.request-shop-box {
  width: 10vw;
  height: 14vh;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.request-shop-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18vw;
  padding-left: 2em;
  margin-top: 2em;
  font-family: "omyu_pretty";
  font-weight: lighter;
  font-size: 20px;
}
.block {
  margin: 2.5em;
}
.request-box-count {
  font-size: 15px;
}
