.request-box-container {
  width: 28vw;
  height: 15vh;
  border: 1px solid #FFA800;
  background-color: #ffdb92;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  padding-left: 2em;
  margin-top: 2em;
  font-family: 'omyu_pretty';
  font-weight: lighter;
  font-size: 20px;
}
.block{
  margin: 2.5em;
}
.request-box-count{
  font-size: 15px;
}