.write-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  border-radius: 10px;
  border: 2px solid #E5CD7B;
  margin-left: 8vw;
}
.write-box {
  width: 900px;
  height: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-type {
  margin-top: 22px;
  margin-bottom: 10px;
  width: 400px;
  height: 28px;
  border: #E5CD7B solid 2px;
}
.write-title-box {
  display: flex;
  width: 608px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.write-input {
  height: 35px;
  width: 600px;
  border: 2px solid #E5CD7B;
}
.write-person-box {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}
.write-content {
  width: 580px;
  height: 350px;
  border: none;
  resize: none;
  border-top: 1px solid #E5CD7B;
  border-bottom: 1px solid #E5CD7B;
}
.write-price {
  height: 20px;
  border: 2px solid #E5CD7B;
}
.write-button {
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-family: 'omyu_pretty';
  font-weight: lighter;
  font-size : 17px;
  gap : 4px;
  border: 2px solid #E5CD7B;
}
.write-person-box{
  font-size: 18px;
}